{% extends 'base.html' %}
{% block content %}


    <div>
        <br><br>
        <h4>
            IssueFinder allows you to search through any PDF for keywords
        </h4><br/>
        <ol>
            <li><p>Start by uploading a batch of PDFs - revenue contracts, memos, etc. </p></li>

            <li><p>Input terms or phrases you'd like to search your uploaded documents for, or select from our list of keywords. </p></li>

            <li><p>IssueFinder will locate every instance of your terms and highlight them in each PDF. The result set allows you to quickly navigate through any keywords found. </p></li>
        </ol>
    </div>

{% endblock %}